body, .game-page {
  background-color: $light-pink;
  margin: 20px;
}

.game-container {
  width:90%;
  margin: 0 auto;
  background: $green;
  border-radius: 10px;
  padding: 10px 20px;

}

.game-board-container {
  width: 100%;
  padding:0px;
  margin: 0px;
}


.title {
  width: 90%;
  margin: 0px auto;
  text-align: center;
}

.game-palm-tree{
  display: inline-block;
  background-image: url("../images/palm-tree.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 50px;
  margin-top: 0px;
  width: 30px;
}

.edge-item{
  margin: 10px auto;
  text-align: center;
  line-height: 1em;
}

.edge-content{
  margin-top:50px;
}

.action-buttons {
  margin-top: 50px;
}

// ********************************
// CARDS********************************
// ********************************

#game-board {
  height: 500px;
  width:90%;
  background-color: white;
  margin: 0px auto;
  box-sizing: border-box;
}

.card .back {
  background-color: $dark-green;
  width: 15%;
  height: 1.5em;
  float: left;
  margin: 20px 0px 0px 1.5%;
	padding:0px;
	font-size:64px;
  box-sizing: border-box;
  border-radius: 10px;
}

.card .front {
  background-color: $light-pink;
  border: 3px solid $dark-green;
  width: 15%;
  height: 1.5em;
  float: left;
  margin: 20px 0px 0px 1.5%;
	padding:0px;
	font-size:64px;
  box-sizing: border-box;
  border-radius: 10px;
  background-size: contain;

}

.card .front.blocked,
.card .back.blocked {
  pointer-events: none;
}
