body, .game-page {
  background-color: $light-pink;
  margin: 20px;
}

.game-container {
  width:90%;
  margin: 0 auto;
  background: $green;
  border-radius: 10px;
  padding: 10px 20px;
}

.game-content {
  height: 500px;
}

.title {
  width: 90%;
  margin: 0px auto;
  text-align: center;
}

.game-palm-tree{
  display: inline-block;
  background-image: url("../images/palm-tree.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 50px;
  margin-top: 0px;
  width: 30px;
}

.edge-item{
  margin: 10px auto;
  text-align: center;
  line-height: 1em;
}

.edge-content{
  margin-top:50px;
}

.action-buttons {
  margin-top: 50px;
}
