
body {
 font-size: 72px;
}
h1,h2,h3,h4,h5,h6,p {
 line-height: 1.45;
}
h1 {
  font-size: 36px;
  font-family: Remained;
  color: $green;
 }

 h2 {
   font-size: 24px;
   font-family: remained;
   color: $green;
  }
